
body {
	font-family: system-ui, sans-serif;
	color: #222;
	background-color: #fff;
	width: 400px;
	height: 333px;
	overflow-block: auto;
	overflow-inline: hidden;
	margin: 0;
	display: grid;
	grid-template-rows: 1fr max-content;
	position: relative;
}

a, button {
	color: #0033cc;
	background-color: transparent;
	border: none;
	appearance: none;
}

a:active, button:active {
	opacity: .75;
}

input, button, select, textarea {
	font: inherit;
	display: block;
	box-sizing: border-box;
	margin: 0;
	inline-size: 100%;
}

button {
	padding-inline: 1em;
	padding-block: .5em;
	text-align: start;
}

.input-box {
	display: block grid;
	grid-template-columns: max-content 1fr;
	border-block: solid .125rem #888;
	margin-block: .5rem;
	padding-inline: .5rem;
}

.input-box > label {
	display: block;
	inline-size: max-content;
	box-sizing: border-box;
	margin: 0;
	padding: .5rem;
	opacity: .75;
}

.input-box > .input-box-input {
	background-color: transparent;
	color: inherit;
	border: none;
	border-radius: 0;
	margin: 0;
	padding: .5rem;
	outline: none;
}

#main {
	overflow: auto;
}

#bottombox {
	box-shadow: 0 0 .5rem #888;
}

#button-new-container, #button-hide-inactive {
	display: block grid;
	grid-template-columns: max-content 1fr;
}

#button-new-container::before {
	background-image: url(/img/add_black_24dp.svg);
	content: '';
	background-repeat: no-repeat;
	background-size: 1.5em;
	background-position: center center;
	block-size: 1em;
	inline-size: 2em;
}

#button-hide-inactive::before {
	background-image: url(/img/unfold_less_black_24dp.svg);
	content: '';
	background-repeat: no-repeat;
	background-size: 1.5em;
	background-position: center center;
	block-size: 1em;
	inline-size: 2em;
}

#menuList, #menuList ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menuList li {
	padding: 0;
	margin: 0;
}

.tab:hover, button:hover {
	background-color: rgba(0, 0, 0, .1);
}

#menuList .tab {
	display: block grid;
	grid-template-columns: 2em 2em 1fr 2em;
	margin-inline-start: calc(2em - 0.25em);
	padding-inline-end: 1em;
	border-inline-start: solid .25rem transparent;
}

.tab-label, .container-label {
	padding-inline: .5em;
	padding-block: .5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tab-discarded .tab-label {
	opacity: .75;
}

.tab-active .tab-label {
	font-weight: bold;
}

.tab-icon {
	inline-size: 75%;
	align-self: center;
	justify-self: center;
}

.tab-icon.img-error {
	visibility: hidden;
}

.tab > button, .container > button {
	background-size: 1.5em;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0;
	padding: 0;
	background-color: transparent;
}

.tab > .tab-pin-button {
	background-image: url(/img/push_pin_black_24dp.svg);
}

.tab > .tab-pin-button:hover, .tab > .tab-pin-button:focus {
	opacity: .5 !important;
}

.tab.tab-pinned > .tab-pin-button {
	opacity: 1;
}

.tab > .tab-close-button {
	background-image: url(/img/close_black_24dp.svg);
	opacity: .25;
}

.tab > .tab-close-button:focus, .tab > .tab-close-button:hover {
	opacity: .5;
}

#menuList > li.checked {
	background-image: url('/img/done-black-18dp.svg');
}

#menuList .window-label {
	padding-inline: 2em;
	padding-block: .5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	border-block-start: solid .125rem #888;
	position: sticky;
	inset-block-start: 0;
	background-color: #fff;
	z-index: 2;
	box-shadow: 0 0 .5em #fff;
}

.window-label[data-tab-count]::after {
	content: ' (' attr(data-tab-count) ')';
	opacity: .5;
}

.container {
	display: block grid;
	grid-template-columns: 2em 2em 1fr 2em 2em 2em 1em;
}

.container > .container-visibility-toggle {
	background-size: 1.5em;
	background-repeat: no-repeat;
	background-position: center center;
	inline-size: 100%;
	block-size: 100%;
	opacity: .5;
	visibility: hidden;
}

.container > .container-visibility-toggle:hover, .container > .container-visibility-toggle:focus {
	opacity: 1;
}

.container-visible > .container-visibility-toggle {
	background-image: url(/img/expand_less_black_24dp.svg);
	visibility: visible;
}

.container-hidden > .container-visibility-toggle {
	background-image: url(/img/expand_more_black_24dp.svg);
	visibility: visible;
}

.container-icon {
	inline-size: 75%;
	block-size: 75%;
	align-self: center;
	justify-self: center;
}

.container-label {
	padding-inline: .5em;
	padding-block: .5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.container-label[data-tab-count]::after {
	content: ' (' attr(data-tab-count) ')';
	opacity: .5;
}

.container > .edit-container-button {
	background-image: url(/img/edit_black_24dp.svg);
	opacity: .25;
}

.container > .edit-container-button:disabled {
	visibility: hidden;
}

.container > .edit-container-button:focus, .container > .edit-container-button:hover {
	opacity: 1;
}

.container > .close-container-button {
	background-image: url(/img/close_black_24dp.svg);
	opacity: .25;
}

.container > .delete-container-button {
	background-image: url(/img/delete_black_24dp.svg);
	opacity: .25;
}

.container > .delete-container-button:disabled {
	visibility: hidden;
}

.container > .delete-container-button:focus, .container > .delete-container-button:hover {
	opacity: 1;
}

.container > .container-tabs {
	grid-column: 1 / -1;
}

body > .modal {
	display: none;
	background-color: #eee;
}

body > .modal:target {
	display: block grid;
	position: fixed;
	top: 0;
	left: 0;
	inline-size: 100%;
	block-size: 100%;
	align-content: center;
	z-index: 3;
}

.modal-content {
	background-color: #fff;
}

.modal-title {
	margin-block: 1rem;
	margin-inline: 1rem;
	padding: 0;
}

.modal-actions {
	margin-block: 1em;
	display: block grid;
	grid-auto-columns: max-content;
	grid-auto-flow: column;
	justify-content: space-around;
}

.modal-actions > button {
	inline-size: max-content;
	border-radius: .25em;
}

.modal-actions > button.button-default {
	background-color: #0033cc;
	color: #fff;
}

#confirm-message {
	margin: 1em;
}
