/* vim: ts=2 et ai */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/* source: https://github.com/mozilla/multi-account-containers/blob/4b56a2f0bb91cd9a12b95121fcff0c8e96ff66bd/src/js/popup.js */

/* Color and icon helpers */
[data-identity-color="blue"] {
  --identity-tab-color: #37adff;
  --identity-icon-color: #37adff;
}

[data-identity-color="turquoise"] {
  --identity-tab-color: #00c79a;
  --identity-icon-color: #00c79a;
}

[data-identity-color="green"] {
  --identity-tab-color: #51cd00;
  --identity-icon-color: #51cd00;
}

[data-identity-color="grey"] {
  /* Only used for the edit panel */
  --identity-icon-color: #616161;
}

[data-identity-color="yellow"] {
  --identity-tab-color: #ffcb00;
  --identity-icon-color: #ffcb00;
}

[data-identity-color="orange"] {
  --identity-tab-color: #ff9f00;
  --identity-icon-color: #ff9f00;
}

[data-identity-color="red"] {
  --identity-tab-color: #ff613d;
  --identity-icon-color: #ff613d;
}

[data-identity-color="pink"] {
  --identity-tab-color: #ff4bda;
  --identity-icon-color: #ff4bda;
}

[data-identity-color="purple"] {
  --identity-tab-color: #af51f5;
  --identity-icon-color: #af51f5;
}

[data-identity-icon="fingerprint"] {
  --identity-icon: url("/img/usercontext.svg#fingerprint");
}

[data-identity-icon="briefcase"] {
  --identity-icon: url("/img/usercontext.svg#briefcase");
}

[data-identity-icon="dollar"] {
  --identity-icon: url("/img/usercontext.svg#dollar");
}

[data-identity-icon="cart"] {
  --identity-icon: url("/img/usercontext.svg#cart");
}

[data-identity-icon="circle"] {
  --identity-icon: url("/img/usercontext.svg#circle");
}

[data-identity-icon="food"] {
  --identity-icon: url("/img/usercontext.svg#food");
}

[data-identity-icon="gift"] {
  --identity-icon: url("/img/usercontext.svg#gift");
}

[data-identity-icon="vacation"] {
  --identity-icon: url("/img/usercontext.svg#vacation");
}

[data-identity-icon="fruit"] {
  --identity-icon: url("/img/usercontext.svg#fruit");
}

[data-identity-icon="pet"] {
  --identity-icon: url("/img/usercontext.svg#pet");
}

[data-identity-icon="tree"] {
  --identity-icon: url("/img/usercontext.svg#tree");
}

[data-identity-icon="chill"] {
  --identity-icon: url("/img/usercontext.svg#chill");
}

[data-identity-icon="fence"] {
  --identity-icon: url("/img/usercontext.svg#fence");
}

/* .userContext-icon is used natively, Bug 1333811 was raised to fix */
.usercontext-icon {
  background-image: var(--identity-icon);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  block-size: 100%;
  fill: var(--identity-icon-color);
  filter: url('/img/filters.svg#fill');
}

[type="radio"] {
  -moz-appearance: none;
  display: inline;
  opacity: 0;
  margin: 0;
}

#radios {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding-block: 8px;
  justify-content: space-around;
}

#radios > label {
  background: none;
  block-size: 23px;
  border: 0;
  filter: none;
  inline-size: 23px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

#radios > label::before {
  background-color: unset;
  background-image: var(--identity-icon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  block-size: 23px;
  border: none;
  content: "";
  display: block;
  fill: var(--identity-icon-color);
  filter: url('/img/filters.svg#fill');
  inline-size: 23px;
  position: relative;
}

#radios > [type="radio"]:checked + label {
  background: #d3d3d3;
  border-radius: 100%;
}

#radios > [type="radio"]:focus + label {
  outline: 1px solid #1f9ffc;
  -moz-outline-radius: 100%;
}
